
.btn-divOpts{
    display: flex;
    gap: 1rem;
}

.placeHolderEdit{
    padding: 3px;
    border-radius: 4px;
    border: none;
    width: 60%;
}

.head-task{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.inProgress{
    background-color: #56CCF2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 22px;
    width: 100px;
    text-align: center;
    border-radius: 14px;
}

.task{
    display: flex;
    justify-content: space-between;
}


li{
    width: 300px;
}

li::marker {
    color: #C576B4;
   font-size: 22px
}
