
.btn-divOpts{
    display: flex;
    gap: 1rem;
    margin-right: 12px;
}

.placeHolderEdit{
    padding: 3px;
    border-radius: 4px;
    border: none;
    width: 300px;
    background-color:#B3BFE3;
}

.head-task{
    display: flex;
    justify-content: space-between;
    width: 72%;
    align-items: center;
}

.pending{
    background-color:#FCEBDB;
    color: #F2994A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 22px;
    width: 100px;
    text-align: center;
    border-radius: 14px;
    border: none;
}

.in-prog{
    background-color:#DDF5FC;
    color: #56CCF2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 22px;
    width: 100px;
    text-align: center;
    border-radius: 14px;
    border: none;
}

.completed{
    background-color:	#08ff00;
    color: 	#00b100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 22px;
    width: 100px;
    text-align: center;
    border-radius: 14px;
    border: none;
}

.task{
    display: flex;
    justify-content: space-between;
}


li{
    width: 300px;
}

li::marker {
    color: #C576B4;
   font-size: 22px
}

.btn-circle{
    border: none;
    background:none;
}

.importancy-div{
    display: flex;
    align-items: center;
    gap: 10px;
}

