@import '../../mediaQuery/style.scss';

.card-container{
    padding: 10px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color:white;
    border-radius: 22px;

}