@import '../../mediaQuery/style.scss';

.card-article{
    height: 40vh;
    width: 100%;
    color: black;
    border-radius: 5px;

    @include breakpoint(xs){
        height: 40vh;
    }
}

.header-card{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.array-length{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.array-length > p {
    margin-bottom: 0;
}

.title-task{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;

    @include breakpoint(xs){
        font-size: 20px;
    }
}

.btn-add-header{
    border: none;
   color: white;
    background-color: #884CB2;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   p{
       display: none;
   }
    @include breakpoint(xs){
        width: 1.4rem;
        height: 1.4rem;
        font-size: 12px;
        padding: 2px;
        p{
            display: none;
        }
    }
}

.to-do{
    font-weight: 400;
font-size: 26px;
line-height: 27px;
}

.text{
    width: 80%;
    border-radius: 8px;
    height: 60px;
}

.area-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btns-div{
    width: 80%;
    display: flex;
    gap: 1rem;;
    justify-content: center;
}

.btn-add{
    background-color: #2ea44f !important;
    border: none;
    width: 42%;
}

.btn-add:hover{
    background-color: #2ea44f;
}

.btn-cancel{
    width: 42%;
}

.list {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-list-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 280px;
    overflow-y:auto;

    @include breakpoint(xs){
        height: 250px;
    }

    @include breakpoint(s){
        height: 260px;
    }

    @include breakpoint(md){
        height: 240px;
    }
}

.footer-task{
    display: flex;
    gap: 1rem;
}

.task * {
    margin: 0;
}



.btn-delTask{
    background: none;
    border: none;
}

.succes-del{
    color: black;
    bottom: 60px;
    left: 0
}