.input-add-task{
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.div-input{
    display: flex;
    gap: 1rem
}

.btn-add-modal{
    width: 80px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #884CB2;
}