
.header-app{
    background-color:#141415;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.icon-search{
    font-size: 22px;
}

.search-filter{
    display: flex;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.div-filter{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.img-logo{
    width: 80px;
}

.input-filter{
    width: 100%;
    border: none;
}