*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'uniSans';
}

body{
	background:#B3BFE3;
	background-repeat: no-repeat;
	
}

.app-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

@font-face {
	font-family:'uniSans' ;
	src: url(./assets/fonts/uniSans/uniSans.woff);
}

.modal-content{
    border-radius: 12px !important;
}

::-webkit-scrollbar{
    height: 15px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	width: 10px;

}



::-webkit-scrollbar-thumb{
    background: #B3BFE3;
    border-radius:12px;
    cursor: pointer;
}
