*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'uniSans';
}

body{
	background: url(./assets/images/bg.jpg);
	background-repeat: no-repeat;
	
}

@font-face {
	font-family:'uniSans' ;
	src: url(./assets/fonts/uniSans/uniSans.woff);
}